/* General Styling */
.miami-red {
    background-color: #c8102e;
}

body {
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(https://www.miamioh.edu/_files/images/patterns/collage04.png), url(https://www.miamioh.edu/_files/images/patterns/collage03.png), url(https://www.miamioh.edu/_files/images/patterns/collage02.png), url(https://www.miamioh.edu/_files/images/patterns/collage01.png);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Navbar and Footer Styling */
#navbar-img {
    width: auto;
    height: 65px;
    align-content: center;
}

.navbar-fixed {
    height: 90px;
}

.nav-wrapper {
    font-weight: 500;
    padding-top: 14px;
    height: 90px;
    width: 100%;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.nav-padding {
    padding-left: 4%;
    padding-right: 4%;
}

footer a {
    color: white;
}

.dropdown-content li a {
    color: #c8102e;
}

#copyright {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 1%;
}

#contact-button {
    background-color: white;
    color: #c8102e;
}

#contact-button-recruit {
    background-color: #c8102e;
    color: white;
}

.carouselMainImage {
    max-width: 50%;
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
}

/* For fitting webpages to mobile screens */
@media screen and (max-width: 900px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .recruit-body{
        background-image: none;
    }

    .recruit-parent{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    #recruit-pic{
        width: 204px;
        height: auto;
    }
}

/* Content Page Styling */
.schedule-body, .sponsor-body, .recruit-body, .leadership-body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recruit-body {
    background-image: url("../images/recruitPage/white_miami_bg.jpg");
}

.sponsor-body {
    background-image: url("../images/backgrounds/whitekeyboard.jpg");
}

.schedule-body {
    background-image: url("../images/backgrounds/whiteroom.jpg");
}

.leadership-body {
    background-image: url("../images/backgrounds/leadership.jpg");
}

.section h1 {
    text-align: center;
    font-size: 3rem;
    z-index: 1;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 15px;
    opacity: .65;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background: white;
    opacity: .65;
}

.index-container {
    margin-left: 7.5%;
    padding-top: 2%;
    width: 85%;
    background-color: white;
    box-shadow: -1px -1px 10px rgba(0,0,0,0.5),
    0px 0px 1px rgba(0,0,0,0.5),
    0px 0px 1px rgba(0,0,0,0.2);
}

/* Container for flexboxes */
.recruit-parent {
    display: -webkit-flex;
    display: flex;
    size: 50;
    margin: 10%;
    background-color: white;
    justify-content: center;
    align-items: center;
    }

.arena-parent {
    display: flex;
    width: 60%;
    margin: 50px;       
    background-color: white;
    justify-content: center;
    align-items: center;
}

.recruit-cent {
    text-align: center;
}

.recruit-child {
    width: auto;
    /* Or whatever */
    height: auto;
    /* Or whatever */
    margin: 20px;
    /* Magic! */
    
}

.camps-content {
    background-color: #fff;
}

.camps-pics{
    max-width: 100%;
}

.sponsor-pics {
    height: 200 px;
    width: auto;
}

.content-header {
    color: white;
    align-content: center;
    font-size: 3em;
}

.red-content-header {
    color: #c8102e;
    align-content: center;
    text-align: center;
    font-size: 3em;
    font: bold;
}

.red-text {
    color: #c8102e;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  #slide{
    vertical-align: middle;
    padding: 20px;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }