/* General Styling */
.miami-red {
    background-color: #c8102e;
}

body {
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(https://www.miamioh.edu/_files/images/patterns/collage04.png), url(https://www.miamioh.edu/_files/images/patterns/collage03.png), url(https://www.miamioh.edu/_files/images/patterns/collage02.png), url(https://www.miamioh.edu/_files/images/patterns/collage01.png);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Navbar and Footer Styling */
#navbar-img {
    width: auto;
    height: 65px;
    margin-left: 25px;
}

.navbar-fixed {
    height: 110px;
}

.nav-wrapper {
    font-weight: 500;
    padding-top: 14px;
    height: 90px;
    width: 100%;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.nav-padding {
    padding-left: 2%;
    padding-right: 2%;
}

footer a {
    color: white;
}

.dropdown-content li a {
    color: #c8102e;
}

#copyright {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 1%;
}

#contact-button {
    background-color: white;
    color: #c8102e;
}

.carouselMainImage {
    margin-left: 10%;
    max-width: 100%;
}

/* Video Styling */
.section-video {
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .section-video {
        position: relative;
        margin-left: 10%;
        width: 80%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
    }
}
/* For fitting webpages to mobile screens */

@media screen and (max-width: 900px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .recruit-body{
        background-image: none;
    }

    div#hidable{
        display: none !important;
    }
}

/* Content Page Styling */
.recruit-body {
    background-image: url("../images/recruitPage/miami_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sponsor-body {
    background-image: url("../images/backgrounds/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.schedule-body {
    background-image: url("../images/backgrounds/room.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section h1 {
    text-align: center;
    font-size: 3rem;
    z-index: 1;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 15px;
    opacity: .65;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background: white;
    opacity: .65;
}

/* Container for flexboxes */
.recruit-parent {
    display: -webkit-flex;
    display: flex;
    size: 50;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}

.recruit-cent {
    text-align: center;
}

.recruit-child {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    /* Or whatever */
    height: auto;
    /* Or whatever */
    margin: 20px;
    /* Magic! */
}

.camps-content {
    background-color: #fff;
}

.camps-pics{
    max-width: 100%;
}

.sponsor-pics {
    height: 200 px;
    width: auto;
}

.content-header {
    color: white;
    align-content: center;
    font-size: 3em;
}

.red-content-header {
    color: #c8102e;
    align-content: center;
    text-align: center;
    font-size: 3em;
    font: bold;
}